<!DOCTYPE html>
<html>
<head>
	<title> <%= @page %> </title>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav>
    	<p style="display: inline-block;">Nav:
      		<a href="/items">Item list</a> •
     		<a href="/items/add">Add Items</a>
   		</p>
  	</nav>





  	<% if session[:message] %>
		<p class="msg">
			<%= session[:message] %>
		</p>
			<% session[:message] = nil %>
	<% end %>






	<h1>Awesome ToDo List App</h1>

	<%= yield %>




</body>
</html>